{erl_opts, [no_debug_info]}.
{deps, [
        jsone,
        jsn,
        bbmustache
       ]}.

{escript_incl_apps,
 [nephele_generator]}.
{escript_main_app, nephele_generator}.
{escript_name, nephele_generator}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
